<app-dashboard-element titleText="Mash Calculator">
  <form [formGroup]="formGroup">
    <label id="units-radio-group-label">Units:</label>
    <mat-radio-group
      aria-labelledby="units-radio-group-label"
      class="units-radio-group"
      [formControl]="formGroup.controls.selectedUnits"
      name="units">
      @for (unit of this.units; track unit) {
        <mat-radio-button class="form-item" [value]="unit">{{unit.label}}</mat-radio-button>
      }
    </mat-radio-group>

    <label id="grain-weight-label">Grain Weight:</label>
    <app-units-control 
      aria-labelledby="grain-weight-label"
      class="form-item number-field"
      [control]="this.formGroup.controls['grainWeight']"
      [numeratorUnits]="[formGroup.controls.selectedUnits.value?.weight]">
    </app-units-control>

    <!-- <label id="grain-weight-label">Grain Weight:</label>
    <mat-form-field class="form-item number-field" aria-labelledby="grain-weight-label">
      <mat-icon matIconPrefix>scale</mat-icon>
      <input matInput type="text" (blur)="formatInput(this.grainWeight, $event, '1.2-2')" [value]="this.grainWeight?.value | number:'1.2-2'">
      <p matTextSuffix>{{weightSuffix}}(s)</p>
    </mat-form-field> -->

    <!-- <label id="mash-water-label">Mash Water Ratio:</label>
    <mat-form-field class="form-item number-field" aria-labelledby="mash-water-label">
      <mat-icon matIconPrefix>water_drop</mat-icon>
      <input matInput type="text" (blur)="formatInput(this.waterRatio, $event, '1.2-2')" [value]="this.waterRatio?.value | number:'1.2-2'">
      <span matTextSuffix>{{volumeSuffix}}(s) / {{weightSuffix}}</span>
    </mat-form-field>

    <label id="first-rest-temperature">First Rest Temperature:</label>
    <mat-form-field class="form-item number-field" aria-labelledby="first-rest-temperature">
      <mat-icon matIconPrefix>thermostat</mat-icon>
      <input matInput type="text" (blur)="formatInput(this.firstRest, $event, '1.1-1')" [value]="this.firstRest?.value | number:'1.1-1'">
      <span matTextSuffix>{{temperatureSuffix}}</span>
    </mat-form-field> -->
  </form>
</app-dashboard-element>
