.container {
  margin: 25px;
  width: 450px;
  border: 1px solid var(--mat-sys-surface-bright)
}

.delete-button {
  position: absolute;
  top: 8px;
  right: 8px;
}

mat-icon.icon {
  width: 40px;
  height: 40px;
  font-size: 40px;
  color: var(--mat-sys-on-surface-container);
}

mat-card-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--mat-sys-surface-container);
  position: relative;
}

mat-card {
  background-color: var(--mat-sys-surface-container);
}

mat-card-subtitle {
  color: var(--mat-sys-on-surface-container);
}