.units-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.units-radio-button {
  margin: 5px;
}

.form-group {
  display: flex;
  margin: 15px 0;
}