
<form [formGroup]="this.form">
  <div>
    @for (control of this.controlArray.controls; track control) {
      <label id="{{control.value.id}}">{{control.value.label}}:</label>
      <mat-form-field 
        class="item-padding" [attr.aria-labelledby]="control.value.id">
        <mat-icon matIconPrefix>{{control.value.icon}}</mat-icon>
        <input matInput type="text" (blur)="formatInput(control, $event, '1.2-2')" [value]="control.value.value | number:'1.2-2'">
        <p matTextSuffix>{{control.value.units}}(s)</p>
      </mat-form-field>
    }
  </div>
</form>
